.App {
  padding: 10px;
  display: flex;
  align-items: stretch;
}
.editor-container {
  width: 50%;
}
.top-panel {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #7f7f7f;
}

.top-panel button {
    margin: 0 5px 0 0;
}
